# Importing Libraries

In [ ]:
import pandas as pd
# For showing float data upto 2 decimal point
pd.options.display.float_format = '{:,.2f}'.format

# Importing Data

In [2]:
college_Data = pd.read_csv('salaries_by_college_major.csv')

# Preliminary Data Exploration

- First 5 daya

In [3]:
college_Data.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

- How many rows and columns does this data has

In [4]:
shape = college_Data.shape
print("There are {row} of rows".format(row = shape[0]))
print("There are {cols} of cols".format(cols = shape[1]))

There are 51 of rows
There are 6 of cols

- What are the labels for the columns? Do the columns have names?

In [5]:
columns = college_Data.columns
print(list(columns))

['Undergraduate Major', 'Starting Median Salary', 'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary', 'Mid-Career 90th Percentile Salary', 'Group']

- Are there any missing values in our dataframe? Does our dataframe contain any bad data?

In [6]:
college_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Undergraduate Major                51 non-null     object
 1   Starting Median Salary             50 non-null     float64
 2   Mid-Career Median Salary           50 non-null     float64
 3   Mid-Career 10th Percentile Salary  50 non-null     float64
 4   Mid-Career 90th Percentile Salary  50 non-null     float64
 5   Group                              50 non-null     object
dtypes: float64(4), object(2)
memory usage: 2.5+ KB

In [7]:
college_Data.isna().sum() # last row

Undergraduate Major                  0
Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
dtype: int64

In [8]:
clean_college_data = college_Data.dropna()

## Exploratory Data Analysis

- Find College Major with Highest Starting Salaries

In [9]:
id_of_max_median_salaray = clean_college_data['Starting Median Salary'].idxmax()
clean_college_data['Undergraduate Major'].loc[id_of_max_median_salaray]

'Physician Assistant'

- What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [10]:
id_of_max_mid_career_salaray = clean_college_data['Mid-Career Median Salary'].idxmax()
clean_college_data['Undergraduate Major'][id_of_max_mid_career_salaray] # works same as data[column].loc[id]

'Chemical Engineering'

In [11]:
all_majors = clean_college_data['Undergraduate Major']
clean_college_data[all_majors == 'Chemical Engineering']

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM

- Which college major has the lowest starting salary and how much do graduates earn after university?

In [12]:
id_of_min_median_salaray = clean_college_data['Starting Median Salary'].idxmin()
major_of_min_median_salary = clean_college_data['Undergraduate Major'].loc[id_of_min_median_salaray]
clean_college_data[all_majors == major_of_min_median_salary]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

- Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [13]:
id_of_min_mid_career_salary = clean_college_data['Mid-Career Median Salary'].idxmin()
major_of_min_mid_career_salary = clean_college_data['Undergraduate Major'][id_of_min_mid_career_salary]
clean_college_data[all_majors == major_of_min_mid_career_salary]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
18,Education,34900.0,52000.0,29300.0,102000.0,HASS

## Sorting Values and Adding Columns

- Lowest Risk Majors

A low-risk major is a degree where there is a small difference between the lowest and highest salaries. In other words, if the difference between the 10th percentile and the 90th percentile earnings of your major is small, then you can be more certain about your salary after you graduate.

How would we calculate the difference between the earnings of the 10th and 90th percentile? Well, Pandas allows us to do simple arithmetic with entire columns, so all we need to do is take the difference between the two columns:

In [14]:
mid_career_90th = clean_college_data['Mid-Career 90th Percentile Salary']
mid_career_10th = clean_college_data['Mid-Career 10th Percentile Salary']
spread = mid_career_90th - mid_career_10th
clean_college_data.insert(1,'Spread',spread)
clean_college_data.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

- Sorting by the Lowest Spread

In [15]:
low_risk = clean_college_data.sort_values('Spread',ascending=False)
low_risk[['Undergraduate Major','Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0

- Find the top 5 degrees with the highest values in the 90th percentile.

In [21]:
highest_value_major_90th = clean_college_data.sort_values('Mid-Career 90th Percentile Salary',ascending=False)
highest_value_major_90th[['Undergraduate Major','Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

- Find the degrees with the greatest spread in salaries. Which majors have the largest difference between high and low earners after graduation.

In [22]:
low_risk[['Undergraduate Major','Spread','Mid-Career 10th Percentile Salary','Mid-Career 90th Percentile Salary']].head()

,Undergraduate Major,Spread,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
17,Economics,159400.0,50600.0,210000.0
22,Finance,147800.0,47200.0,195000.0
37,Math,137800.0,45200.0,183000.0
36,Marketing,132900.0,42100.0,175000.0
42,Philosophy,132500.0,35500.0,168000.0

# Grouping and Pivoting Data with Pandas

In [33]:
clean_college_data.groupby('Group').count()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [ ]:
clean_college_data.groupby('Group').mean(numeric_only=True)

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"